{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <!--article author-->
    <section class="article-author mb-2">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-outline-danger article-author-btn" data-toggle="modal" data-target="#myModal">Author</button>
                </div>
            </div>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><strong>Author</strong></h5>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="{{auth.image.url}}" class="author-image" alt="" srcset="">
                            <h3 class="mt-2 text-muted">About me</h3>
                            <h4>{{auth.name.get_full_name}}</h4>
                            <h5>{{auth.name.email}}</h5>
                            <p>{{auth.details}}.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>

    <!--article-->
    <section>
        <div class="container">
            <div class="row mb-4">
                {% for a in articles %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-4" style="box-shadow:1px 1px 0px 0px gray">
                        <a href="{{a.single_page_url}}"><img src="{{a.image.url}}" class="card-img-top" alt="" srcset=""></a>
                        <div class="card-body">
                            <b><a href="{{a.category_page_url}}">{{a.category.name}}</a></b>
                            <a href="{{a.single_page_url}}"><strong>{{a.title}}.</strong></a>
                            <b class="text-muted">{{a.article_author.name.get_full_name}}</b>
                        </div>
                        <div class="card-footer">
                            <b><span>{{a.posted_on}}</span></b>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
    </section>
    {% endblock %}

    {% block pagination %}
    <!-- pagination -->
     <section>
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        {% if articles.has_previous %}
                        <a class="page-link" href="?page={{ articles.previous_page_number }}">Prev</a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="">Page {{ articles.number }} of {{ articles.paginator.num_pages }}.</a>
                    </li>
                    <li class="page-item">
                        {% if articles.has_next %}
                        <a class="page-link" href="?page={{ articles.next_page_number }}">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    {% endblock %}