<html>
    <head>
        <meta charset="UTF-8">
        <title>Article Documentation</title>
    </head>
    <body>
        <img src="media/{{article.image}}" style="height:400px; display:block; margin-left:auto; margin-right:auto; width:10%" alt="">
        <h1 style="text-align:center">{{article.title}}</h1>
        <p style="text-align:center">{{article.text}}</p>
        <p style="text-align:center">{{article.category.name}}</p>
        <p style="text-align:center">{{article.posted_on}}</p>
    </body>
</html>
